
    kafka-eagle:
        image: {{ .service.config.docker_image }}
        environment:
          KAFKA_ZOOKEEPER_HOSTS: {{ .topology.zookeeper.instances | with_port 0 | join "," }}
        volumes:
          - type: bind
            source: {{ .service.config.runtime_folder }}/{{ .instance.name }}/{{ .service.config.db_instance_folder }}
            target: /hadoop/kafka-eagle/db
        deploy:
          mode: replicated
          replicas: 1
          placement:
            constraints:
              - engine.labels.node-name == {{ .instance.node }}
        networks:
          - host_net
