stack                   = kafka
docker_image            = confluentinc/cp-zookeeper:5.3.1
runtime_folder          = {{ .topology.config.runtime_folder }}/zookeeper

# instance_folders get automatically created in the runtime_folder/instance-ID
data_instance_folder    = data
log_instance_folder     = log
secrets_instance_folder = secrets
