stack                   = kafka
docker_image            = confluentinc/cp-kafka:5.3.1
runtime_folder          = {{ .topology.config.runtime_folder }}/kafka

# instance_folders get automatically created in the runtime_folder/instance-ID
data_instance_folder    = data
secrets_instance_folder = secrets

